a {
    display:block;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #777;
    width:auto;
}

.explanation {
    color: green;
}

label {
    display:block;
    width:auto;
}

h1 {
    width:auto;
}

ul li {
    margin-bottom: 10px;
}

body{
    margin: 0 auto;
    width:100%;
}

.tooltip.right .tooltip-arrow {
    border-right-color:#eee;
}

.tooltip-inner{
    background-color: #eee;
    color:black;
}

.left {
    border: 1px solid green;
}

.right {
    border: 1px solid blue;
}

.tooltip-class {
    width:15px;
    height:15px;
}

@media (max-width: 1000px){
    .popover.right {
        position: static !important;
    }
}

.color-box{
    width: 100px;
    height: 100px;
    padding: 2px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.box-background-purple{
    background-color: purple;
}

.box-background-green{
    background-color: green;
}
.box-background-blue{
    background-color: #28b64c;
}
.box-background-yellow{
    background-color: #f0eede;
}

footer{
    margin-top: 30px;
}

.hover-background-color{
    background-color: #096d07;
}

.top-room {
    margin-top: 20px;
}
